# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Production build output
dist/

# Raw excel datasets & local certificates (stored on Bunny CDN)
certificates/
*.xlsx

# Logs & temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
